@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic');

html {}

body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

h1, h2 {
    margin: 0;
}

.container {
}

.container__creatives {}

.creatives {
    background: url(../images/creatives/bg.jpg) no-repeat top center;
    padding: 0.01%;
    min-height: 880px;
}

.container__fixed {
	width: 1170px;
	margin: 0 auto;
}

.creatives__header {
    margin: 22px 0 0;
}

.header {
    min-height: 93px;
}

.layout {
	display: flex;
	justify-content: space-between;
}

.header__logo {}

.logo {}

.header__menu {margin: 31px 0 0;}

.menu {
    width: 852px;
}

.menu__item {
}

.menu__link {
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    color: #fff;
    display: block;
}

.menu__link:hover {

}

.menu__link:hover::after {
    content: "";
    display: block;
    width: 76px;
    height: 6px;
    background: #11749e;
    margin: 32px -13px 0;
}

.menu__link_home:hover::after {
    width: 76px;
}

.menu__link_pages:hover::after {
    width: 73px;
}

.menu__link_features:hover::after {
    width: 96px;
}

.menu__link_extensions:hover::after {
    width: 114px;
}

.menu__link_tutorials:hover::after {
    width: 97px;
}

.menu__link_contact:hover::after {
    width: 114px;
}

.menu__socials {
    margin: 0 -5px 0 8px;
}

.socials {
    width: 141px;
}

.socials__item {}

.socials__link {
    color: #fff;
    font-size: 21px;
}

.socials__link:hover {
    color: #11749e;
}

.creatives__line {
    position: relative;
    left: -135px;
}

.line {
    margin: 0;
    width: 1438px;
    border: none;
    height: 1px;
    background-color: #797979;
}

.creatives__head-title {
    position: relative;
    left: 14.2%;
    top: 267px;
}

.head-title {
    width: 832px;
    height: 232px;
}

.head-title__main-title {
}

.main-title {
    margin: 0;
    font-family: "GothamProBold";
    font-size: 152.5px;
    color: #f5f5f5;
    letter-spacing: -7.5px;
}

.head-title__sub-title {margin: 4px 0 0px 12px;}

.sub-title {
    margin: 0;
    font-family: "GothamProMedium";
    font-size: 25px;
    font-style: normal;
    color: #11749e;
    letter-spacing: 17.6px;
}

.head-title__scroll-down {
    width: 98px;
    position: relative;
    left: 44.3%;
    top: 47%;
}

.scroll-down {}

.scroll-down__title {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #fff;
    padding: 0 13px;
}

.scroll-down__scroll-point {
    width: 67px;
    margin: 17px auto;
}

.scroll-point {
    display: block;
    width: 65px;
    height: 65px;
    border: #fefefe 1px solid;
    border-radius: 50%;
    background: url(../images/creatives/scroll.png) no-repeat center;
}




.container__agency {}

.agency {
    background: #11749e;
    padding: 164px 0 0;
    min-height: 574px;
}

.agency__heading {
    margin-bottom: 138px;
}

.heading {
    text-align: center;
    font-family: "GothamProMedium";
    font-size: 38px;
    color: #fff;
    letter-spacing: -0.3px;
    position: relative;
}

.heading:after {
    content: "";
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 247px;
    color: #5993b2;
    position: absolute;
    left: 481px;
    top: 27px;
    line-height: 0;
}

.heading_agency:after {
    content: "W";
}

.agency__features {}

.features {
    flex-wrap: wrap;
}

.features__item {
    width: 23%;
}

.features__img {
    margin: 0 auto;
    /* background: #2e85aa url(../images/awesome-agency/marker.png) no-repeat center; */
    width: 133px;
    height: 133px;
    border-radius: 50%;
}

.features__img_1 {
    background: #2e85aa url(../images/awesome-agency/marker.png) no-repeat center;
}

.features__img_2 {background: #2e85aa url(../images/awesome-agency/marker.png) no-repeat center;}

.features__img_3 {background: #2e85aa url(../images/awesome-agency/loupe.png) no-repeat center;}

.features__img_4 {background: #2e85aa url(../images/awesome-agency/dialog.png) no-repeat center;}

.features__heading {
    font-family: "GothamProMedium";
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 19px auto 29px;
}

.features__article {}

.article {
    font-family: "GothamProRegular";
    font-size: 15px;
    color: #fff;
    line-height: 23px;
}

.arcticle_features {}



.container__akita {}

.akita {
    background: #222;
}

.akita-block {}

.puzzle {
    display: flex;
}

.akita__akita-picture {
    width: 100%;
}

.akita-picture {
    width: 102%;
}


.container__lets-blog {}

.lets-blog {}

.lets-blog__heading {}

.heading_lets-blog {}

.lets-blog__subheading {}

.subheading {}

.lets-blog__lets-articles {}

.lets-articles {}

.lets-articles__item {}

.lets-articles__img {}

.lets-articles__heading {}

.lets-articles__article {}

.article_lets-blog {}



.container__cum-sociis {}

.cum-sociis {}

.cum-sociis__item {}

.cum-sociis__img {}

.cum-sociis__article {}

.article_sociis {}



.container__phone-page {}

.phone-page {}

.phone-page__akita-dog {}

.akita-dog {}

.akita-dog__heading {}

.akita-heading {}

.akita-dog__article {}

.article_phone-page {}

.akita-dog__akita-lines {}

.lines {}

.lines__item {}

.lines__link {}

.phone-page__phone {}

.phone {}



.container__our-team {}

.our-team {}

.our-team__heading {}

.heading_our-team {}

.our-team__subheading {}

.our-team__members {}

.members {}

.members__item {}

.members__foto {}

.members__name {}

.members__proffession {}



.container__wed-love {}

.wed-love {}

.wed-love__heading {}

.heading_wed-love {}

.wed-love__wed-form {}

.wed-form {}

.wed-form__wed-layout {}

.wed-layout {}

.wed-layout__name {}

.name {}

.wed-layout__email {}

.email {}

.wed-layout__phone {}

.phone {}

.wed-form__message {}

.message {}

.wed-form__send {}

.send {}



.container__footer {}

.footer {}



.container__all-rights {}

.all-rights {}

.all-right__rights {}

.rights {}

.all-right__design {}

.design {}











