@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

html {}

body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {}

.container__creatives {}

.creatives {}

.container__fixed {
	width: 1170px;
	margin: 0 auto;
}

.creatives__header {
    margin: 22px 0 0;
}

.header {}

.layout {
	display: flex;
	justify-content: space-between;
}

.header__logo {}

.logo {}

.header__menu {}

.menu {}

.menu__item {}

.menu__link {}

.menu__social-sprite {}

.social-sprite {}

.social-sprite__item {}

.social-sprite__link {}

.creatives__head-title {}

.head-title {}

.head-title__main-title {}

.main-title {
    font-family: "Gotham Bold";
}

.head-title__sub-title {}

.sub-title {}

.creatives__scroll-down {}

.scroll-down {}

.scroll-down__title {}

.scroll-down__scroll-point {}

.scroll-point {}



.container__agency {}

.agency {}

.agency__heading {}

.heading_agency {}

.agency__features {}

.features {}

.features__item {}

.features__img {}

.features__heading {}

.features__article {}

.article {}

.arcticle_features {}



.container__akita {}

.akita {}



.container__lets-blog {}

.lets-blog {}

.lets-blog__heading {}

.heading_lets-blog {}

.lets-blog__subheading {}

.subheading {}

.lets-blog__lets-articles {}

.lets-articles {}

.lets-articles__item {}

.lets-articles__img {}

.lets-articles__heading {}

.lets-articles__article {}

.article_lets-blog {}



.container__cum-sociis {}

.cum-sociis {}

.cum-sociis__item {}

.cum-sociis__img {}

.cum-sociis__article {}

.article_sociis {}



.container__phone-page {}

.phone-page {}

.phone-page__akita-dog {}

.akita-dog {}

.akita-dog__heading {}

.akita-heading {}

.akita-dog__article {}

.article_phone-page {}

.akita-dog__akita-lines {}

.lines {}

.lines__item {}

.lines__link {}

.phone-page__phone {}

.phone {}



.container__our-team {}

.our-team {}

.our-team__heading {}

.heading_our-team {}

.our-team__subheading {}

.our-team__members {}

.members {}

.members__item {}

.members__foto {}

.members__name {}

.members__proffession {}



.container__wed-love {}

.wed-love {}

.wed-love__heading {}

.heading_wed-love {}

.wed-love__wed-form {}

.wed-form {}

.wed-form__wed-layout {}

.wed-layout {}

.wed-layout__name {}

.name {}

.wed-layout__email {}

.email {}

.wed-layout__phone {}

.phone {}

.wed-form__message {}

.message {}

.wed-form__send {}

.send {}



.container__footer {}

.footer {}



.container__all-rights {}

.all-rights {}

.all-right__rights {}

.rights {}

.all-right__design {}

.design {}











